@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  min-height: 100vh;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
